/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
:root {
    --main-transition: 0.3s;
    --main-color: #2075B9;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
::selection{
    background-color: rgb(0, 140, 255);
    color: white;
}
/* End Gloal Rules */
/* Start Landing */
.landing{
    height: 80vh;
    background-image: url(../images/digital.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.utility-nav .nav-item{
    background-color: #1778B6;
    transition: 0.3s;
}
.utility-nav .nav-item:hover{
    background-color: #18a6ff;
}
.utility-nav .nav-item a{
    color: white;
}
/* Start Navabr */
.main-nav{
    padding-block: 10px;
    border-bottom: 4px solid var(--main-color);
}
.navbar-brand img{
    height: 90px;
}
/* End Navbar */
/* End Landing */